.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  background-color: #000000;
}

.reset-password-container {
  background-color: #121212; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(231, 122, 0, 0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.reset-password-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.reset-password-container p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #aaa;
}

.reset-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #444;
  background-color: #222;
  color: #eee;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  outline: none;
  border-color: #e77a00;
  box-shadow: 0 0 8px #e77a00;
  background-color: #333;
  color: #fff;
}

.reset-btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #e77a00;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.reset-btn:hover {
  background-color: #cc6e00;
}

@media (max-width: 480px) {
  .reset-password-container {
    padding: 25px 20px;
  }

  .reset-password-container h2 {
    font-size: 1.6rem;
  }

  .reset-password-container p {
    font-size: 0.9rem;
  }

  .reset-input {
    font-size: 0.95rem;
    padding: 10px;
  }

  .reset-btn {
    font-size: 0.95rem;
    padding: 10px;
  }
}